/* Font */
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");

body {
  font-family: "Volkhov", serif;
}

.img-center {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.bg-pink {
  background-color: #f496d22d;
}
.fas {
  font-size: 14px;
}
.border-radious {
  border-radius: 30px;
}
.card-width {
  width: 300px;
  margin: 0 auto;
}
.card-shaow {
  box-shadow: 0px 20px 20px 5px rgba(126, 122, 207, 0.404);
}

.offer-tag {
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: #ff4e4e;
  padding: 5px 7px;
  border-radius: 30px;
}
.form-width {
  max-width: 600px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #0B0D17;  
}
.custom-form{
  background-image: url("../images/form-bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.411);
  background-blend-mode: overlay;
}
@media (min-width: 1200px) {
  .offer {
    position: relative;
    bottom: 45px;
  }
}
