/* Font */
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");

body {
  font-family: "Volkhov", serif;
}

.banner-height {
  min-width: 100vh;
}

.img-center {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    object-position: center;
}